.bg-333 {
  background-color: #333;
}

.scale {
  transition: 0.2s;
}

.scale:hover {
  scale: 1.1;
}

.scale:active {
  scale: 1;
}

.form-control::-webkit-input-placeholder {
  color: white;
}

.form-control:hover, .form-control:active, .form-control:focus{
  box-shadow: none;
}

.Easy {
  background-color: transparent;
  color: lime;
  border: .2vw double lime;
  border-radius: 2vw;
}

.Medium {
  background-color: transparent;
  color: yellow;
  border: .2vw double yellow;
  border-radius: 2vw;
}

.Hard {
  background-color: transparent;
  color: red;
  border: .2vw double red;
  border-radius: 2vw;
}

.size {
  height: 90vh;
  width: 100vw;
}

#endText {
  height: 50vh;
}

.Custom {
  background-color: transparent;
  color: cyan;
  border: .2vw double cyan;
  border-radius: 2vw;
}